.about-page {
  padding: 0px 15px;
  padding-top: calc(89px + 30px);
  padding-bottom: 50px;
  background-color: #e9ebf3;
}

.aboutTextAndImage {
  background-color: #1b1e26;
  color: #fff;
  padding: 36px;
  border-radius: 30px;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
}

.about-header {
  text-align: center;
  margin: 30px 0;
  font-size: 28px;
}

.about-image {
  max-width: 100%;
  aspect-ratio: 7/4;
  object-fit: cover;
  margin-top: 36px;
}

@media (min-width: 900px) {
  .about-page {
    padding: 0px 120px;
    padding-top: calc(203px + 50px);
    padding-bottom: 120px;
  }

  .about-header {
    margin: 0 0 50px 0;
    font-size: 35px;
  }

  .aboutTextAndImage {
    display: grid;
    grid-template-columns: 8fr 6fr;
    gap: 50px;
    line-height: 1.3em;
  }

  .about-image {
    aspect-ratio: 9/7;
  }
}
