.ppVans-card {
  margin: 170px 15px 0px 15px;
  box-shadow: none;
}

.ppVan-name {
  font-size: 22px;
  text-align: center;
  color: #000;
}

.ppPrice {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.ppSpec {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #f5f5fc;
  margin-bottom: 40px;
}

.spec-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
}

.spec-symbol {
  font-size: 40px;
}

.spec-text {
  font-weight: 600;
  font-size: 14px;
}

.vehicle-description {
  margin-bottom: 40px;
}

.vehicle-description-title {
  background-color: #676a72;
  color: #fff;
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
}

.vehicle-description-text {
  padding: 40px 15px 80px 15px;
  background-color: #f5f5fc;
  color: #676a72;
  font-size: 16px;
}

.fa-circle-info,
.fa-magnifying-glass {
  color: #000;
  margin-right: 5px;
}

.technical-details-text {
  background-color: #f5f5fc;
  padding: 30px 15px;
}

.bold-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 48px;
}

.detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px;
  color: #676a72;
}

.white {
  background-color: #fff;
}

.carousel {
  position: relative;
}

.arrow-right {
  position: absolute;
  top: calc(50% - 22.5px);
  right: 1.8%;
  background-color: hsla(240, 67%, 98%, 0.8);
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.arrow-left {
  position: absolute;
  bottom: calc(50% - 22.5px);
  left: 1.8%;
  background-color: hsla(240, 67%, 98%, 0.8);
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.desktop-titleAndPrice {
  display: none;
}

/*CODE FOR DESKTOP PRODUCT PAGE*/

@media (min-width: 900px) {
  .ppVan-name,
  .ppPrice {
    display: none;
  }

  .ppVans-card {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 25px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .ppVans-card > :last-child {
    grid-column: 1 / -1;
  }

  .desktop-titleAndPrice {
    display: flex;
    justify-content: space-between;
    margin-top: 16%;
    align-items: center;
  }

  .desktop-name {
    display: inline-block;
    margin: 0;
    margin-left: 50px;
    font-size: 25px;
  }

  .desktop-price {
    display: inline-block;
    margin: 0;
    margin-right: 50px;
    font-size: 30px;
  }

  .spec-text {
    font-size: 13.5px;
  }

  .vehicle-description-text {
    padding: 40px 15px 40px 15px;
  }
}
